<div class="modal pendingPrankModal">
	<div class="modal-dialog" role="document">
    <div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title">{{pranker.name}} sent you a {{hinder_info.hinder_type}}!</h5>
		</div>
		<div class="modal-body">
			{{#if hinder_info.hinderObject.sound}}
				<button class="playAudioModal">Listen up!<audio class="audioDivModal" src={{hinder_info.asset}}></button>
			{{/if}}
			{{#if hinder_info.hinderObject.photo}} 
				<img class='prankPhoto' src={{hinder_info.asset}}> 
			{{/if}}
			{{#if hinder_info.hinderObject.gif}} 
				<img class='prankPhoto' src={{hinder_info.asset}}> 
			{{/if}}
			{{#if hinder_info.hinderObject.message}}
				<p class="hinderMessage">{{hinder_info.asset}}</p>
			{{/if}}
		</div>
		<div class="modal-footer">
			<button class="btn btn-outline-danger finishButton" type="button" data-id={{id}}>Finished</button>
		</div>
	</div>
	</div>
</div>