<ul>
	<li>
		{{category.dataValues.hinder_type}}
	</li>
	<li>
		{{category.dataValues.asset}}
	</li>
	<li>
		{{pranker.dataValues.user_name}}
	</li>
	<li>
		{{pranker.dataValues.photo}}
	</li>
	<li>
		{{target.dataValues.user_name}}
	</li>
	<li>
		{{target.dataValues.photo}}
	</li>
	<li>
		{{thumbs_up}}
	</li>
	<li>
		{{thumbs_down}}
	</li>
</ul>

