<!-- Top Page Panel -->
<div class="uk-panel uk-padding-small uk-background-secondary uk-light">
  <!-- hinder logo -->
  <div class="uk-container uk-align-left">
          <img src="https://fontmeme.com/permalink/180323/50aabc6e80ab2d2c3606770837f97459.png" alt="spray-paint-fonts" alt="Hinder Logo" width="250" border="0">
  </div>
  <!-- user login thumbnail -->

  <div class="uk-container uk-align-right">
    <div class="uk-thumbnail uk-thumbnail-small">
      {{!-- <img src="http://via.placeholder.com/150" alt="Member pic"> --}}
      <img class="userPhoto" src={{userInfo.photo}} alt="Member pic">
    </div>
  </div>
  <!-- username display -->
  <div class="uk-container uk-align-right">
    <h1>{{userInfo.name}} Home</h1>
  </div>
</div>

<!-- Send A Prank offcanvas page -->
<div class="uk-offcanvas-content">
  <button class="uk-button uk-button-primary uk-button-large uk-margin-small-left" id="returnHomeButton_Index">Return Home</button>
  <button class="uk-button-large uk-button-danger uk-margin-small-right" type="button" uk-toggle="target: #offcanvas-usage">New Prank</button>
  <div id="offcanvas-usage" uk-offcanvas>
        <div class="uk-offcanvas-bar">
          <button class="uk-offcanvas-close" type="button" uk-close></button>
          <h3>Send a Prank</h3>
          <ul>
        <li>
          {{category.dataValues.hinder_type}}
        </li>
        <li>
          {{category.dataValues.asset}}
        </li>
        <li>
          {{target.dataValues.user_name}}
        </li>
          <button class="uk-button uk-button-danger uk-align-left" type="button">Send Prank</button>
        </div>
    </div>
</div>

<!-- page grid -->
<div class="uk-text-center" uk-grid>
  <!-- sidebar -->
  <div class="uk-width-1-4@m">
    <!-- group member profile card -->
        <div class="uk-card uk-card-small uk-card-default uk-card-body uk-padding-small">
          <h4>{{groupInfo.group_name}}</h4>

          <!-- handlebars: all group member names & corresponding photo URLs add to UL?? -->
          <ul class="uk-tab-left" uk-tab>
              <li>
                <div class="uk-thumbnail uk-thumbnail-mini uk-margin-small-bottom">
                  {{#each group_members}}
                    {{> index/index-block}}
                  {{/each}}
                </div>
              </li>
          </ul>
        </div>
    </div>
  
  <!-- main responsive div -->
    <div class="uk-width-expand@m uk-margin-right">
      <!-- pending pranks card -->
        <div class="uk-panel uk-panel-scrollable uk-margin-bottom">
          <h4 class="uk-text-bold">Pending Pranks</h4>
          <table class="uk-table uk-table-striped uk-table-condensed">
            <thead>
              <tr>
                  <th class="uk-text-bold">Pranker</th>
                  <th class="uk-text-bold">Prank Sent</th>
                  <th class="uk-text-bold">Member Pranked</th>
              </tr>
          </thead>
          <tbody>
              <tr>

                  {{#each pranks}}
                    {{#if complete}}
                      {{> index/prank-block complete=true}}
                    {{/if}}
                  {{/each}}

              </tr>
          </tbody>
      </table>

        </div>
      <!-- Completed Pranks -->
        <div class="uk-panel uk-panel-scrollable">
          <h4 class="uk-text-bold">Most Recent Pranks</h4>
          <table class="uk-table uk-table-striped uk-table-condensed">
            <thead>
              <tr>
                  <th class="uk-text-bold">Pranker</th>
                  <th class="uk-text-bold">Prank Sent</th>
                  <th class="uk-text-bold">Member Pranked</th>
                  <th class="uk-text-bold">Rate It!</th>
              </tr>
          </thead>
          <tbody>
              <tr>

                  {{#each pranks}}
                    {{#unless complete}}
                      {{> index/prank-block complete=false}}
                    {{/unless}}
                  {{/each}}

              </tr>
          </tbody>
      </table>
        </div>
    </div>
</div>

<!-- Stats div -->
  <div class= "uk-margin-left uk-margin-right">
  <ul uk-tab>
      <li><a href="#">Top Rated Prankster</a></li>
      <li><a href="#">Top Groups</a></li>
  </ul>

  <ul class="uk-switcher uk-margin">
      <li>JS top rated pranksters chart</li>
      <li>JS top rated group chart</li>
  </ul>
</div>
