<!-- Top Page Panel -->
	<div class="uk-panel uk-padding-small uk-padding-remove-bottom uk-margin-small uk-background-secondary uk-light">
		<!-- hinder logo -->
		<div class="uk-container uk-align-left uk-padding-small uk-padding-remove-top uk-margin-medium-bottom">
            <img src="https://fontmeme.com/permalink/180323/50aabc6e80ab2d2c3606770837f97459.png" alt="spray-paint-fonts" alt="Hinder Logo" width="250" border="0">
        </div>
        <!-- username display -->
        <div class="uk-container uk-align-right uk-position-bottom uk-margin-small-bottom">
        	<h1>{{userInfo.name}} Profile </h1>
        </div>
    </div>
	<!-- Send A Prank offcanvas page -->
	<div class="uk-offcanvas-content">
		<button class="uk-button uk-button-primary uk-button-large uk-margin-small-left" id="returnHomeButton_Profile">Return Home</button>
		<button class="uk-button-large uk-button-danger uk-margin-small-right" type="button" uk-toggle="target: #offcanvas-usage">New Prank</button>
		<div id="offcanvas-usage" uk-offcanvas>
	        <div class="uk-offcanvas-bar">
	        	<button class="uk-offcanvas-close" type="button" uk-close></button>
	        	<h3>Send a Prank</h3>
	        	<ul>
					<li>
						{{category.dataValues.hinder_type}}
					</li>
					<li>
						{{category.dataValues.asset}}
					</li>
					<li>
						{{target.dataValues.user_name}}
					</li>
	        	<button class="uk-button uk-button-danger uk-align-left" type="button">Send Prank</button>
	        </div>
	    </div>
	</div>

	<!-- page grid -->
	<div class="uk-text-center" uk-grid>
		<!-- sidebar -->
		<div class="uk-width-1-4@s uk-padding-remove">
			<!-- group member profile card -->
	        <div class="uk-card uk-card-small uk-card-default uk-card-body uk-padding-small">
	          <h4>{{groupInfo.group_name}}</h4>

	          <!-- handlebars: all group member names & corresponding photo URLs add to UL?? -->
	          <ul class="uk-tab-left" uk-tab>
	              <li>
	                <div class="uk-thumbnail uk-thumbnail-mini uk-margin-small-bottom">
	                  {{#each group_members}}
	                    {{> profiles/profile-block}}
	                  {{/each}}
	                </div>
	              </li>
	          </ul>
	        </div>
	    </div>

		<div class="uk-width-1-4@s uk-padding-remove">
	          <div class="uk-card-small uk-card-default uk-card-body uk-padding-small">
				<img class="uk-align-left uk-margin-remove" src="{{userInfo.photo}}" alt="Profile photo"/>
				<ul class="uk-list uk-align-center uk-margin-remove">
	                <h4 class="uk-text-bold uk-text-center">User</h4>
	                <li class="uk-text-center">Username: {{userInfo.name}}</li>
	            </ul>
	          </div>

	          <div class="uk-card-small uk-card-default uk-card-body uk-padding-small">
				<img class="uk-align-left uk-margin-remove" src="{{groupInfo.photo}}" alt="Profile photo"/>
				<ul class="uk-list uk-align-center uk-margin-remove">
	                <h4 class="uk-text-bold uk-text-center">Group</h4>
	                <li class="uk-text-center">Group name: {{groupInfo.group_name}}</li>
	            </ul>
	          </div>
	    </div>


		<!-- main responsive div -->
    	<div class="uk-width-expand@m uk-margin-right">
      <!-- pending pranks card -->
	        <div class="uk-panel uk-panel-scrollable uk-margin-bottom">
	          <h4 class="uk-text-bold">Pranks Received</h4>
	          <table class="uk-table uk-table-striped uk-table-condensed">
	            <thead>
	              <tr>
	                  <th class="uk-text-bold">Pranker</th>
	                  <th class="uk-text-bold">Prank Sent</th>
	              </tr>
	          </thead>
	          <tbody>
	              <tr>

	                  {{#each pranks}}
	                    {{#if target.user}}
	                      {{> profiles/prank-block-target}}
	                    {{/if}}
	                  {{/each}}

	              </tr>
	          </tbody>
	      	  </table>

        	</div>
      <!-- Completed Pranks -->
        <div class="uk-panel uk-panel-scrollable">
          <h4 class="uk-text-bold">Pranks Sent</h4>
          <table class="uk-table uk-table-striped uk-table-condensed">
            <thead>
              <tr>
                  <th class="uk-text-bold">Prank Sent</th>
                  <th class="uk-text-bold">Member Pranked</th>
              </tr>
          </thead>
          <tbody>
              <tr>

                  {{#each pranks}}
                    {{#if pranker.user}}
                      {{> profiles/prank-block-pranker}}
                    {{/if}}
                  {{/each}}

              </tr>
          </tbody>
      	</table>
        </div>
    </div>
