{{!-- Generates card for each group member and populates into group member sidebar on profile page --}}
<div class="card groupMemberCard" style="width: 100%; margin-top: 15px">
	<img class="card-img-top" src={{photo}} alt="Member pic">
	<div class="card-body">	

		{{#if me}} 
			<h5 class="card-title">
				<a class="profileLink" data-url="/user{{userID}}">Me</a>
			</h5>

			{{else}}
			<h5 class="card-title">
				<a class="profileLink" data-url="/user{{userID}}/{{id}}">{{name}}</a>
			</h5>


		{{/if}}

	</div>
</div>
