{{!-- Partial for generating group members cards, to be entered into group member sidebar on main page and profile pages --}}
<div class="card groupMemberCard" style="width: 100%; margin-top: 15px">
	<img class="card-img-top" src={{photo}} alt="Member pic">
	<div class="card-body">	

		{{#if me}} 
			<h5 class="card-title">
				<a class="profileLink" data-url="/user{{userID}}">Me</a>
			</h5>

			{{else}}
			<h5 class="card-title">
				<a class="profileLink" data-url="/user{{userID}}/{{id}}">{{name}}</a>
			</h5>


		{{/if}}

	</div>
</div>
