{{!-- Create table row for each pending prank in group and insert into home page --}}
<tr>
	<td>{{pranker.name}}</td>
	<td>
		{{#if hinder_info.hinderObject.sound}}
			<button class="playAudio">Sound was sent<audio class="audioDiv" id="audioDiv" src={{hinder_info.asset}}></button>
		{{/if}}
		{{#if hinder_info.hinderObject.photo}} 
			<img class='prankPhoto' src={{hinder_info.asset}}> Image sent
		{{/if}}
		{{#if hinder_info.hinderObject.gif}} 
			<img class='prankPhoto' src={{hinder_info.asset}}> Gif sent
		{{/if}}
		{{#if hinder_info.hinderObject.message}}
			<p class="hinderMessage">{{hinder_info.asset}}</p> <p> Message sent </p> 
		{{/if}}
	</td>
	<td>{{target.name}}</td>
</tr>