
{{#if dataValues.group_name}}
	<option id="groupid_{{dataValues.id}}" value="{{dataValues.id}}">{{dataValues.group_name}}</option> 
{{/if}}

{{#if dataValues.category_name}}
	<option id="groupid_{{dataValues.id}}" value="{{dataValues.id}}">{{dataValues.category_name}}</option> 
{{/if}}